/*p{

color: blue;
font-size:10px;
}*/

/*li{
  color: white;
  font-size: 30px;
  font:"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

/*h1{
  color: green;
}*/
.topbox_main{
  width:180px;
  
 
}
.topbox1 {
  /*float: left;*/
  display:inline-block;
  width:30%;
  position:relative;
  

}
.topbox2 {
  /*float: right;*/
  display:inline-block;
  position:relative;
  width:30%;
}
 
.longbox  {
  display:inline-block;
  width: 300px;
  
}

.p1 {
  color:black;
  
}

.ibox {
  display:inline-block;
  width:40%;
  height:50px;
  
}

.squarei {
    /*float:left;*/
    display:inline-block;
    position: relative;
    width: 15%;
    height:50px;
    /*padding-bottom : 40%;*/ /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    /*background-color:red;*/
} 
 
.square {
    float:left;
    position: relative;
    width: 40%;
    padding-bottom : 40%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    /*background-color:red;*/
}

.content {
    position:absolute;
    float:left;
    margin: 0;
    padding: 0;
    font-size:10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    
    /*height:80%; 
    width:90%;
    padding: 10% 5%;8?
    /*background-color: blue;*/
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
